body {
    font-family: Lato;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(14, 60px);
        grid-row-gap: 79px;
        width: 840px;
        padding: 10px;
        border: 5px solid black;
        background-color: burlywood;
    }

    .grid-item {
        height: 250px;

        .piece {
            display: block;
            margin: 3px auto 3px auto;
        }
    }

    .off-board {
        border: 1px solid black;
        height: 245px;
    }

    #blue-jail, #red-bear {
        margin-top: 5px;
    }

    .bottom {
        background-image: url(assets/transparent_point.png);
        transform: rotate(180deg);
    }

    .top {
        background-image: url(assets/transparent_point.png);
    }

    .piece {
        width: 45px;
        height: 45px;
    }

    #blue-jail {
        transform: rotate(180deg);
    }

    .dice {
        height: 50px;
        width: 50px;
    }

    #dice-display {
        width: 870px;
        margin-top: 10px;
    }

    #dice-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
    }

    .spinner {
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}